* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 40px
}

p {
    background-color: antiquewhite;
    border: 2px solid black;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 40px 10px 5px 10px;
}

.row {
    width: 100%;
}

#name {
    background-color: #e5d198;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 90px;
    text-align: center;
    padding: 10px;
}

#column {
    position: relative;
}

@media(min-width:992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media(max-width:992px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }
}

@media(max-width:668px) {
    .col-sm-12 {
        width: 100%;
    }
}